@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



*,
*::after,
*::before,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.mySwiper {
  height: auto;
  border-bottom: 3px solid #71B100;
}

#icons>* {
  color: white;
  transition: all .3s;
  cursor: pointer;
}

#icons>*:hover {
  color: #71B100;
  transition: all 0.3s;
}